.todo-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right, #008BE0, #00BBA8, #2ED63B);
    background-size: cover;
    min-height: 100vh;
}

.todo-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.input-container {
    background-color: rgb(143, 230, 230);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 15px;
}

.input-todo-button-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}

.add-todo-button {
    background-color: white;
    border: none;
    cursor: pointer;

}

.add-todo-button-icon {
    font-size: 50px;
    color: rgb(54, 48, 40);
}

.input {
    border: none;
    padding: 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.todo-list-container-with-title {
    background-color: rgb(143, 230, 230);
    padding: 30px;
    padding-top: 0;
    border-radius: 15px;
}

.todolist {
    opacity: 1;
    border-radius: 20px;
    overflow: hidden;
}

.todo-header-column,
.todo-item {
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    background-color: #3D38AB;
    color: white;
}

.todo-item {
    background-color: white;
    color: black;
}

.checked {
    background-color: #BCFFB7;
    text-decoration: line-through;
}

.todo-checkbox {
    grid-column: 1;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.todo-title {
    grid-column: 2;
    display: flex;
}

.todo-status {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-todo-button {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.delete-todo-button-icon {
    font-size: 30px;
}

@media all and (max-width:550px) {
    .todo-container {
        width: 90%;
    }
}

@media all and (min-width:551px) and (max-width:900px) {
    .todo-container {
        width: 70%;
    }
}